<html>
<head>
	<title>Best of map</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.1">
	<link rel="stylesheet" href="<%-style%>">
</head>
<body bgcolor="#0c0e0e">
    <table class="results" height="95%">
        <tr class="results__row">
            <th class="results__column results__column-header results__column-place">#</th>
            <th class="results__column results__column-header results__column-nick results__column-header-nick">Nickname</th>
            <th class="results__column results__column-header results__column-cp">CP's</th>
            <th class="results__column results__column-header results__column-gc">GC's</th>
            <th class="results__column results__column-header results__column-time">Time</th>
        </tr>
        <% data.results.forEach(function(res,i){ %> 
            <tr class="results__row">
                <td class="results__column results__column-place"><%- i+1 %></td>
                <td class="results__column results__column-nick<%- data.pid == res.id ? ' color-red' : '' %>"><%= res.nickname %></td>
                <td class="results__column results__column-cp"><%-res.checkpoints%></td>
                <td class="results__column results__column-gc"><%-res.gochecks%></td>
                <td class="results__column results__column-time"><%-res.besttime%></td>
            </tr>
        <% }) %>
        <!-- This empty row required to fix table rows being stretched on the whole screen, looks bad when there is two entries stretched like that. -->
        <% if (data.results.length < 15) { %>
            <% for (let i of Array.from(Array((15-data.results.length)).keys())) { %>
                <tr class="results__row">
                    <td class="results__column"><%- i + (data.results.length+1) %></td>
                    <td class="results__column"></td>
                    <td class="results__column"></td>
                    <td class="results__column"></td>
                    <td class="results__column"></td>
                </tr> 
            <% } %>
        <% } %>
        
    </table>
    <table class="results-categories" height="5%" width="100%">
        <tr>
            <% data.categories.forEach((cat,i) => { %>
                    <td width="<%- 100/data.categories.length %>%" class="category-button<%- cat.id == data.category ? ' category-button-pressed' : '' %>">
                        <div class="category-button__link-wrap">
                            <a class="category-button__link" href=<%= `/stats?mid=${data.mid}&cat=${cat.id}&pid=${data.pid}` %>>
                                <% if (cat.id == data.category) { %>
                                    <%- cat.name %>
                                <% } else { %>
                                    <%- cat.name %>
                                <% } %>
                            </a>
                        </div>
                    </td>
            <% }) %>
        </tr>
    </table>
</body>
</html>